<div class="container-md mt-5 border border-2 rounded-3">
    <div class="row text-center">
        <h1>Pomodoro</h1>
        <h3>Estado: {{estado}}</h3>
    </div>
    <div class="row align-items-center" style="height: 450px;">
        <!-- Temporizador -->
        <div class="col-12 col-md-7 align-items-center justify-content-center position-relative">
            <div
                class=" position-absolute top-50 start-50 translate-middle col-6 text-center h1 border border-dark border-3 rounded-circle py-5">
                {{minutos}}:{{segundos}}</div>
        </div>

        <!-- Opciones -->
        <div class="col col-md-5">
            <div class="row mb-4 mx-5">
                <button class="btn btn-primary" (click)="timer(true)" *ngIf="modo">Iniciar</button>
                <button class="btn btn-danger" (click)="timer(false)" *ngIf="!modo">Detener</button>
            </div>
            <div class="row mb-4 mx-5">
                <button class="btn btn-primary" disabled>Estadísticas</button>
            </div>
            <div class="row mx-5">
                <button class="btn btn-primary" routerLink="/settings">Configuraciones</button>
            </div>
        </div>
    </div>
</div>